<div class="custom-modal-window pay-stub-modal">
    <div class="modal-header">
      <h4 class="modal-title align-self-center float-left">Pay Stub: {{ payrollInvoice.payStub }} - {{ payrollInvoice.employeeName }}</h4>
      <button type="button" class="close align-self-center float-right" aria-label="Close" (click)="modalCloseFunc('Cross click')">
          <span class="icon icon-close"></span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="buttons pull-right">                    
                    <div class="d-inline-block" placement="bottom-right">
                        <button type="button" class="btn btn-link btn-link-icon modal-btn-without-padding not-btn-dropdown">
                            <span class="icon icon-pint"></span>
                            <span>PRINT</span>
                        </button>             
                    </div>
                </div>                
            </div>
        </div>
        <div class="custom-grid">
            <div class="row">
                <div class="col-12">
                    <div class="custom-grid-header">
                        <h3 class="display-3 table-title">Summary</h3>
                    </div>
                    <dx-data-grid #summaryDataGrid [dataSource]="summaryDataRows"
                        [showRowLines]="true"
                        [columnAutoWidth]="true"     
                        [showColumnHeaders]="false"                    
                        keyExpr="id">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxi-column dataField="data" [allowSorting]="false" alignment="left" cellTemplate="dataTemplate">
                            <div *dxTemplate="let cell of 'dataTemplate'">
                                <div class="field-display-section custom-border-bottom">
                                    <span class="label float-left align-self-center">{{cell.data.label}}</span>
                                    <app-current-value-format [currentValue]="cell.data" customClass="value float-right"></app-current-value-format>
                                </div>
                            </div>
                        </dxi-column>
                    </dx-data-grid>
                </div>    
            </div>      
        </div>    
        <div class="custom-grid">
            <div class="row">
                <div class="col-12">
                    <div class="custom-grid-header">
                        <h3 class="display-3 table-title">Earnings (Regular)</h3>
                    </div>
                    <dx-data-grid #summaryDataGrid [dataSource]="earningsDataRow"
                        [showRowLines]="true"
                        [columnAutoWidth]="true"     
                        [showColumnHeaders]="false"                    
                        keyExpr="id">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxi-column dataField="data" [allowSorting]="false" alignment="left" cellTemplate="dataTemplate">
                            <div *dxTemplate="let cell of 'dataTemplate'">
                                <div class="field-display-section custom-border-bottom">
                                    <span class="label float-left align-self-center">{{cell.data.label}}</span>
                                    <app-current-value-format [currentValue]="cell.data" customClass="value float-right"></app-current-value-format>
                                </div>
                            </div>
                        </dxi-column>

                        <dxo-summary>
                            <dxi-total-item 
                                column="data" 
                                cssClass="pull-left summary-label"
                                displayFormat="TOTAL">
                            </dxi-total-item>
                            <dxi-total-item 
                                cssClass="pull-right"
                                column="data"
                                [displayFormat]="earningsDataTotal | currency">
                            </dxi-total-item>
                        </dxo-summary>
                    </dx-data-grid>
                </div>    
            </div>      
        </div>  
        <div class="custom-grid">
            <div class="row">
                <div class="col-12">
                    <div class="custom-grid-header">
                        <h3 class="display-3 table-title">Deductions (Co Medical)</h3>
                    </div>
                    <dx-data-grid #summaryDataGrid [dataSource]="deductionDataRow"
                        [showRowLines]="true"
                        [columnAutoWidth]="true"     
                        [showColumnHeaders]="false"                    
                        keyExpr="id">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxi-column dataField="data" [allowSorting]="false" alignment="left" cellTemplate="dataTemplate">
                            <div *dxTemplate="let cell of 'dataTemplate'">
                                <div class="field-display-section custom-border-bottom">
                                    <span class="label float-left align-self-center">{{cell.data.label}}</span>
                                    <app-current-value-format [currentValue]="cell.data" customClass="value float-right"></app-current-value-format>
                                </div>
                            </div>
                        </dxi-column>

                        <dxo-summary>
                            <dxi-total-item 
                                column="data" 
                                cssClass="pull-left summary-label"
                                displayFormat="TOTAL">
                            </dxi-total-item>
                            <dxi-total-item 
                                cssClass="pull-right"
                                column="data"
                                [displayFormat]="deductionDataTotal | currency">
                            </dxi-total-item>
                        </dxo-summary>
                    </dx-data-grid>
                </div>    
            </div>      
        </div>  
        <div class="custom-grid mb-0">
            <div class="row">
                <div class="col-12">
                    <div class="custom-grid-header">
                        <h3 class="display-3 table-title">Taxes</h3>
                    </div>
                    <dx-data-grid #summaryDataGrid [dataSource]="taxesDataRow"
                        [showRowLines]="true"
                        [columnAutoWidth]="true"     
                        [showColumnHeaders]="false"                    
                        keyExpr="id">
                        <dxo-paging [enabled]="false"></dxo-paging>
                        <dxi-column dataField="data" [allowSorting]="false" alignment="left" cellTemplate="dataTemplate">
                            <div *dxTemplate="let cell of 'dataTemplate'">
                                <div class="field-display-section custom-border-bottom">
                                    <span class="label float-left align-self-center">{{cell.data.label}}</span>
                                    <app-current-value-format [currentValue]="cell.data" customClass="value float-right"></app-current-value-format>
                                </div>
                            </div>
                        </dxi-column>

                        <dxo-summary>
                            <dxi-total-item 
                                column="data" 
                                cssClass="pull-left summary-label"
                                displayFormat="TOTAL">
                            </dxi-total-item>
                            <dxi-total-item 
                                cssClass="pull-right"
                                column="data"
                                [displayFormat]="taxesDataTotal | currency">
                            </dxi-total-item>
                        </dxo-summary>
                    </dx-data-grid>
                </div>    
            </div>      
        </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalCloseFunc('Cross click')">Cancel</button>
    </div>
  </div>