<div class="custom-modal-window change-password-modal">
	<div class="modal-header">
		<h4 class="modal-title align-self-center float-left">Change password</h4>
		<button type="button" class="close align-self-center float-right" aria-label="Close" (click)="modalCloseFunc('Cross click')">
			<span class="icon icon-close"></span>
		</button>
  </div>  
      <div class="modal-body">
          <div class="row">
              <div class="col-12">
                <dx-form #changePasswordForm
                  [labelLocation]="'top'" [showColonAfterLabel]="false"
                  [formData]="changePassword">
                  <dxi-item dataField="currentPassword" [label]="{text: 'Current password'}" cssClass="dx-item-invalid"
                    [editorOptions]="{ placeholder: 'Current password', mode: 'password' }">
                    <dxi-validation-rule 
                        type="required"
                        message="Current password is required">
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="newPassword" [label]="{text: 'New password'}" cssClass="dx-item-invalid"
                    [editorOptions]="{ placeholder: 'New password', mode: 'password', onValueChanged: onValueChanged, valueChangeEvent: 'keyup' }">
                    <dxi-validation-rule 
                      type="required"
                      message="New password is required">
                    </dxi-validation-rule>
                    <dxi-validation-rule 
                      type="pattern"
                      pattern="^.*([A-Za-z]).*$"
                      message="The password must have at least one letter">
                    </dxi-validation-rule>
                    <dxi-validation-rule 
                      type="pattern"
                      pattern="^.*([0-9]).*$"
                      message="The password must have at least one digit">
                    </dxi-validation-rule>
                    <dxi-validation-rule
                      type="stringLength"
                      [min]="8"
                      message="Password must have at least 8 characters">
                    </dxi-validation-rule>
                    <dxi-validation-rule
                      type="stringLength"
                      [max]="16"
                      message="The password must have at most 16 characters">
                    </dxi-validation-rule>
                    <dxi-validation-rule 
                        type="compare" 
                        [comparisonTarget]="currentPasswordComparison"
                        comparisonType="!=="
                        message="The current password and password can not match">
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="reNewPassword" [label]="{text: 'Confirm new password'}"
                    [editorOptions]="{ disabled: !isValidNewPassword , placeholder: 'Confirm new password', mode: 'password', onValueChanged: onValueChanged, valueChangeEvent: 'keyup' }"
                    cssClass="dx-item-invalid">
                    <dxi-validation-rule 
                      type="required"
                      message="Confirm new password is required">
                    </dxi-validation-rule>
                    <dxi-validation-rule 
                        type="compare" 
                        [comparisonTarget]="passwordComparison"
                        message="Password and confirm password do not match">
                    </dxi-validation-rule>
                  </dxi-item>
                </dx-form>
                <app-password-strength *ngIf="changePassword.newPassword && changePassword.newPassword !== ''"
                  [password]="changePassword.newPassword" [minLength]="8">                  
                </app-password-strength>
                <div class="disclaimer-paragraph-container form-field">
                  <div class="password-requirement">
                      <div class="password-list-title">
                        Passwords must:
                      </div>
                      <ul class="password-list">
                        <li>
                          <div class="glyph fs1">
                              <div class="clearfix bshadow0 pbs">
                                  <div class="icon-small-check">                            
                                  </div>
                                  <span class="mls">Have at least one character</span>
                              </div>
                          </div>
                        </li>
                        <li>
                          <div class="glyph fs1">
                              <div class="clearfix bshadow0 pbs">
                                  <div class="icon-small-check">                            
                                  </div>
                                  <span class="mls">Have at least one number</span>
                              </div>
                          </div>
                        </li>
                        <li>
                          <div class="glyph fs1">
                              <div class="clearfix bshadow0 pbs">
                                  <div class="icon-small-check">                            
                                  </div>
                                  <span class="mls">Be at least 8 characters long</span>
                              </div>
                          </div>
                        </li>
                        <li>
                          <div class="glyph fs1">
                              <div class="clearfix bshadow0 pbs">
                                  <div class="icon-small-check">                            
                                  </div>
                                  <span class="mls">Maximum of 16 characters long</span>
                              </div>
                          </div>
                        </li>
                        <li>
                          <div class="glyph fs1">
                              <div class="clearfix bshadow0 pbs">
                                  <div class="icon-small-check">                            
                                  </div>
                                  <span class="mls">Not be the same as your password</span>
                              </div>
                          </div>
                        </li>
                      </ul>                                   
                  </div>
                </div>
              </div>
          </div>
        </div>
        
        <div class="modal-footer">            
            <button type="button" class="btn btn-outline-primary" (click)="modalCloseFunc && modalCloseFunc('Cross click')">Cancel</button>            
            <button type="button" class="btn btn-primary" [disabled]="!validation()" (click)="validateChangePasswordForm() && save()">Save New Password</button>
        </div>
</div>
