@import '~sass/variables';

.dx-datagrid-focus-overlay{
    display: none;
}

.dx-treeview-select-all-item{
    padding: 0px 20px 11px 20px !important;
    border-bottom: 1px solid #eaecf0 !important;
}

.btn-add-line {
    margin-top: 20px;
    .btn {
        display: block;
    }
    
}


  