@import '~sass/variables';

.workers-comp-risk-component {
    .card {
      background-color: transparent;
      border: 0px;
      box-shadow: none;
  
      &.call-out-card {
        .card-body {
          padding-top: 30px;
          padding-right: 29px;
  
          .icon{
              font-size: 35.5px;
          }
          .card-title {
            padding-right: 15px;
            line-height: 1.25;
          }
          .card-text {
            padding-right: 15px;
            margin-bottom: 20px;
          }

        }
      }
    }

    .list-risk-actions {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        padding-left: 29px;

        .list-risk-action-item {
            font-weight: bold;
            min-width: 258px;

            hr{
                margin: 10px 0px 10px 0px;
            }
            
            &:last-child hr{
                margin-bottom: 0;
                display: none;
            }

            .icon {                
                font-size: 14px;
                line-height: 18px;

                &.color-blue {
                    color: $blue;
                }
            }

            .item-value {
                font-size: 14px;
                line-height: 1.29;
                font-weight: bold;
                color: $gray-800;
                margin-bottom: 0;
                margin-left: 16px;                
            }

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }

            .value-item-group {
                display: inline-block;        

                .item-detail {
                    font-size: 12px;
                    line-height: normal;
                    font-weight: 500;
                    color: $gray-300;

                    &:hover {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }            

            .mr-right-10 {
                margin-right: 10px;
            }
        }.list-action-item {
            font-weight: bold;
            
            hr{
                margin-left: 0px;
                margin-right: 0px;
            }
            
            &:last-child hr{
                margin-bottom: 0;
                display: none;
            }

            .icon {                
                font-size: 14px;
                line-height: 18px;

                &.color-blue {
                    color: $blue;
                }
            }

            .item-value {
                font-size: 14px;
                line-height: 1.29;
                font-weight: bold;
                color: $gray-800;
                margin-bottom: 0;
                margin-left: 16px;                
            }

            &:hover {
                font-weight: bold;
                cursor: pointer;
            }

            .value-item-group {
                display: inline-block;        

                .item-detail {
                    font-size: 12px;
                    line-height: normal;
                    font-weight: 500;
                    color: $gray-300;

                    &:hover {
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }            

            .mr-right-10 {
                margin-right: 10px;
            }
        }

    }
  
    .risk-card {
      .form-group {
        margin-bottom: 27px;
      }
  
      .icon-shape {
        margin-top: 4px;
      }
  
      .icon-poster {
        font-size: 36px;
      }
    }
  }
  