@import "~sass/variables";
.container-section {
    padding-left: 0%;
    padding-right: 0px;
    .content-title {
        font-weight: 500;
        &.annual-pay-title {
            margin-left: 5px;
        }
        &.section-selected-title {
            font-size: 0.875rem;
        }
    }
}

.custom-grid-header {
    padding-top: 8px;
    padding-bottom: 5px;
    .table-title {
        line-height: 2;
        margin-bottom: 0;
    }
}

.reports-container {
    padding-top: 19px;
}

h3.display-3,
.h3.display-3 {
    font-weight: 500;
}

.custom-padding-left {
    padding-left: 5px;
}

.annual-pay-summary-container {
    border-radius: 10px;
    background-color: $white;
    // box-shadow: 0 6px 16px 0 rgba(32, 44, 86, 0.04);
    min-height: 100px;
    margin-left: 5px;
    .form-inline {
        .form-group {
            display: block;
        }
        h4 {
            font-weight: 400 !important;
        }
    }
    .form-group {
        h4 {
            font-weight: 400 !important;
        }
    }
    .section {
        width: 100%;
        .section-title {
            font-family: $font-family-sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.13;
            text-align: left;
            color: $gray-800;
        }
        .compensation-title {
            margin-top: 21px;
            margin-bottom: 28px;
            font-family: $font-family-sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.13;
            text-align: left;
            color: $gray-800;
            font-size: 24px;
            font-weight: 500;
        }
        .compensation-title-date-time {
            font-size: 14px;
            font-weight: 500;
            color: $gray-700;
            padding-left: 12px;
        }
        .dropdown {
            width: 160px;
            margin-right: 13px;
            &.dropdown-download {
                margin-right: 0;
            }
        }
        .section-title-buttons {
            margin-top: 20px !important;
        }
        .custom-grid-company-reports {
            margin-top: 20px;
        }
        .buttons {
            .btn {
                margin-left: 8px;
                padding-left: 23px;
                padding-right: 23px;
                margin-top: 2px;
                &:first-child {
                    padding-left: 14px;
                    padding-right: 14px;
                }
                &:first-child,
                &:nth-child(2) {
                    margin-left: 0px;
                }
                &.print-button {
                    padding-left: 14px;
                    padding-right: 14px;
                }
                &.download-button {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 0 !important;
                }
            }
        }
        .form-group {
            margin-bottom: 2px;
        }
        .custom-dropdown-component {
            width: 160px;
        }
        .breadcrumb-compensation-container {
            .breadcrumb {
                padding: 0;
                margin-bottom: 1px;
            }
        }
        .breadcrumb-item-active {
            color: $dark;
            font-weight: 500;
        }
        .back-link {
            cursor: pointer;
            font-weight: 500;
        }
        .compensation-date-range-label {
            font-size: 14px;
            font-weight: 500;
            color: $gray-700;
            padding-top: 23px;
            margin-bottom: 0px;
        }
        .compensation-data-range-selected {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.13;
            color: $gray-800;
        }
        .year-print-download-row {
            margin-bottom: 14px;
            .table-container {
                padding-left: 10px;
                padding-top: 5px;
            }
        }
        .custom-date-picker-size {
            width: 208px;
            margin-right: 10px;
            .custom-input-field {
                width: 208px;
                font-weight: 500;
                line-height: 1.29;
            }
        }
        .view-report-margin {
            margin-top: 26px;
        }
        .select-year-batch-row {
            margin-bottom: 14px;
            margin-left: 2px;
        }
        .custom-left-margin-col {
            padding-left: 0px !important;
            padding-right: 10px;
        }
        .compensation-title {
            margin-bottom: 16px;
            margin-top: 17px;
        }
        .custom-dropdown {
            width: 100px !important;
        }
    }
    //  .dx-row.dx-data-row.dx-column-lines td {
    //     padding-left: 10px;
    //     padding-right: 0px;
    //   }
    .custom-grid .dx-datagrid .dx-row.dx-header-row>td:first-child {
        padding-left: 10px;
        // padding-bottom: 20px;
    }
    // .custom-grid .dx-datagrid .dx-row.dx-header-row > td:last-child {
    //   padding-left: 0;
    //   padding-bottom: 20px;
    //   padding-right: 0px;
    // }
    .form-control-dropdown,
    .custom-dropdown-component .dropdown-menu {
        width: 160px;
    }
    #ddYear {
        width: 150px;
    }
}

.mb-30 {
    margin-bottom: 30px;
}

.pdng-top-20 {
    padding-top: 20px;
}