<div class="container-section">
    <div class="reports-container">
        <div class="section">
            <div class="row">
                <div class="col-12">
                    <h3 class="content-title">Annual Pay Summary</h3>
                </div>
            </div>
            <div class="row pdng-top-20">
                <div class="col-6">
                    <div class="d-inline-flex">
                        <div ngbDropdown class="d-inline-block custom-dropdown-component" #ddYear="ngbDropdown">
                            <button type="button" class="btn btn-form-control form-control-dropdown text-left" #ddYearBtn ngbDropdownToggle>
                                <span>
                                    {{selectedYearDisplay || 'Select Year'}}
                                    <i class="icon icon-shape float-right"></i>
                                </span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="Year">
                                <button type="button" class="dropdown-item" *ngFor="let year of simpleYears" (click)="onSelectionChanged(year); ddYear.close()">{{year}}</button>
                            </div>
                        </div>
                        <button class="btn btn-primary" (click)="getFilteredData()" [disabled]="disableViewReportButton">View
                            Report</button>
                    </div>
                </div>
                <div class="col-6 align-self-center">
                    <div class="buttons pull-right">
                        <button type="button" class="btn btn-link btn-link-icon p-0 not-btn-dropdown print-button" (click)="print()">
                            <span class="icon icon-pint"></span>
                            <span>PRINT</span>
                        </button>
                        <div ngbDropdown placement="bottom-right" class="d-inline dropdown-download">
                            <button type="button" class="btn btn-link btn-link-icon p-0 not-btn-dropdown download-button  ml-3" id="downloadFormatMenu" ngbDropdownToggle>
                                <span class="icon icon-square-upload"></span>
                                <span>DOWNLOAD</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="downloadFormatMenu">
                                <button type="button" class="dropdown-item" *ngFor="let format of downloadFormats" (click)="onDownload(format)">{{format.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pdng-top-20">
            <ul class="nav nav-tabs" role="tabsNavigation">
                <li *ngFor="let option of subnavMenu?.subMenuOptions" class="nav-item">
                    <a class="nav-link" routerLink="{{option.route}}" (click)="selectLabelTab(option.label)" routerLinkActive="active">{{option.label}}</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-12">
                    <div class="annual-pay-summary-container ">
                        <div class="section">
                            <div class="custom-grid mb-0">
                                <div class="col-12" *ngIf="isLoading">
                                    <app-oasis-loader [isLoading]="isLoading"></app-oasis-loader>
                                </div>
                                <div class="table-container" *ngIf="!isLoading">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>