@mixin searchBarInputPlaceholder() {
    font-size: 14px !important; 
    font-weight: 500 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: left !important;
    color: #a5aab7 !important;
    line-height: 15px !important;
}