
<div class="card benefits-card hr-card" [ngClass]="{'hr-card-available': available === 'false'}">
  	<div class="card-body">
	    <h3 class="benefits-card-title title-max-height">{{ratCardData.title}}</h3>
	    <p class="benefits-card-description desc-max-height">{{ratCardData.subText}}</p>
      	<div class="benefits-features-items">
          	<ul class="benefits-features-items m-0">
            	<li class="media" *ngFor="let item of ratCardData.previewItemsList | slice:0:4">
	              	<span class="custom-features-bullet-icon icon-triangle" > </span>
	              	<div class="media-body">{{item}}</div>
            	</li>
          	</ul>
        </div>
	  	<div class="row footer-fixed-position">
	    	<div class="col">
	      		<button type="button" class="btn btn-primary btn-primary-benefits-card-footer" (click)="openCardModal('xs', RATcardDetailsModalContent)">Onboarding</button>
	      		<!-- <span class="mr-2"></span> -->
	      		<button *ngIf="ratCardData.websiteLink" type="button" class="btn btn-outline-primary" (click)="openButtonAction(ratCardData.websiteLink)">Manager Onboarding</button>
	    	</div>
	  	</div>
	</div>
</div>

<ng-template #RATcardDetailsModalContent let-c="close" let-d="dismiss">

    <div class="custom-modal-window">
        <div class="modal-header">
          <h4 class="modal-title modal-title-capitalize align-self-center float-left">{{ratCardData.title}}</h4>
          <button type="button" class="close align-self-center float-right" aria-label="Close" (click)="d('Cross click')">
            <span class="icon icon-close"></span>
          </button>
        </div>
        <div class="modal-body benefits-modal-body">
          <div class="benefits-item  benefits-item-parent-padding">
            <div class="product-card-description readMore">{{ ratCardData.subText }} </div>
            <br/>
            <div class="features-items">
              <ul class="features-items">
                <li class="media" *ngFor="let item of ratCardData.previewItemsList">
                  <span class="custom-features-bullet-icon icon-triangle" > </span>
                  <div class="media-body"> {{item}} </div>
                </li>                
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer modal-footer-benefits">
          <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
        </div>
      </div>
  </ng-template>
  
  <ng-template #onboardingModal let-c="close" let-d="dismiss">
    <div class="custom-modal-window">
        <div class="modal-header">
            <h4 class="modal-title modal-title-capitalize align-self-center float-left">Active Onboarding</h4>
            <button type="button" class="close align-self-center float-right" aria-label="Close" (click)="d('Cross click')">
            <span class="icon icon-close"></span>
            </button>
        </div>
        <div class="modal-body benefits-modal-body"> 
            <div class="benefits-item benefits-item-parent-padding">
                <div class="row my-0">
                    <div class="col-12 align-self-center custom-button-margin-bottom">
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-primary" (click)="openSpecifiedSection(activeOnboardingData.usVerifyURL)">Manager Onboarding</button>
                        </div>
                    </div>
                </div> 
                <div class="features-items features-with-borders">
                    <ul class="features-items">
                        <li class="media xxl-padding" *ngFor="let item of activeOnboardingData.activeOnboardingList"> 
                            <span class="custom-features-bullet-icon-2 icon-profile" > </span>    
                            <div class="media-body media-body-review">
                                <span>{{item.employeeName}}</span><br/>
                                <!-- <span class="media-body-date">{{item.title}}&nbsp;<span class="divider">.</span>&nbsp;&nbsp;&nbsp;{{item.dept}}</span> -->
                            </div>
                            <div class="custom-progress-bar align-self-center">
                                <div *ngFor="let dummy of ' '.repeat(item.totalSteps).split(''), let x = index" class="step2 steps {{x < item.stepsCompleted ?'completed-step' : ''}}"></div>
                            </div>
                            <div class="steps-count">{{item.stepsCompleted}}/{{item.totalSteps}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-benefits">
            <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
        </div>
    </div>
</ng-template>
