<div class="dashboard-container">   
    <div class="row">
        <div class="col-lg-6 col-md-12 container-spacing">
            <app-dashboard-employee-activity></app-dashboard-employee-activity>
        </div>        
        <div class="col-lg-6 col-md-12 container-spacing">
            <app-dashboard-payroll-summary></app-dashboard-payroll-summary>
        </div>   
    </div>
    <div class="row"> 
        <div class="col-lg-6 col-md-12 container-spacing">
            <app-dashbaord-projects-and-services></app-dashbaord-projects-and-services>
        </div>             
        <div class="col-lg-6 col-md-12 container-spacing">
            <app-dashboard-active-onboarding></app-dashboard-active-onboarding>
        </div>  
    </div>
    <div class="row"> 
        <div class="col-lg-6 col-md-12 container-spacing">
            <app-dashboard-reports-widget></app-dashboard-reports-widget>
        </div>
        <div class="col-lg-6 col-md-12 container-spacing">
            <app-dashboard-marketplace></app-dashboard-marketplace>
        </div>   
    </div>
</div>