<div class="custom-modal-window">
  <div class="modal-header">
    <h4 class="modal-title align-self-center float-left">Oasis Website Privacy Statement</h4>
    <button type="button" class="close align-self-center float-right" aria-label="Close" (click)="modalDismissFunc('Cross click')">
      <span class="icon icon-close"></span>
    </button>
  </div>
    <div class="modal-body modal-body-scroll">
      
      <p class="font-weight-bold">Privacy Statement</p>

      <p class="font-italic">Last Updated: March 2, 2016</p>

      <p>Oasis is committed to respecting your privacy. We adopted this Privacy Policy to make it easy for you to understand how we collect, store, use and disclose information you provide to us through this Website. Please read our Terms and Conditions and this Privacy Policy carefully prior to using our Website and/or otherwise submitting information to Oasis.</p>

      <p class="font-weight-bold">If you do not agree with all of our Terms and Conditions and this Privacy Policy, you are not authorized to use this Website, and your sole remedy is to stop using this Website.</p>

      <p class="font-weight-bold">SCOPE</p>
      <p>This Privacy Policy only covers information provided to Oasis through this Website. By providing information to Oasis through this Website, you acknowledge and agree that such information is governed by this Privacy Policy. This Privacy Policy does not apply to information submitted to Oasis offline. This Privacy Policy also does not apply to information submitted to third parties, regardless if you link to a third party through this Website. Information you provide to or is collected by third parties, which may include location data, contact information and personal information, is governed by the terms and conditions and privacy policies of such third parties, and we encourage you to learn about such terms and conditions and privacy policies prior to accessing third party websites and/or content or otherwise disclosing information to such third parties.</p>

      <p class="font-weight-bold">YOUR INFORMATION</p>

      <p class="font-weight-bold">Customer Information</p>
      <p>Oasis will not share or distribute your Customer Information, except as provided in our Terms and Conditions, this Privacy Policy or as may be required by law. In accordance with our Terms and Conditions, we may use your Customer Information to provide you with the Service or requested content and/or information, as well as to prevent or address service or technical problems with our Website. We may also use your Customer Information to provide you with customer support.</p>

      <p class="font-weight-bold">Personal Information</p>
      
      <p>Oasis will not share or distribute your Personal Information, except as provided in our Terms and Conditions, this Privacy Policy or as may be required by law. While you can use this Website without telling us who you are and without revealing any of your Personal Information, there are times when we may need certain Personal Information from you, such as when you register for an account or use the Service. We may use your Personal Information to:</p>
      
      <ul>
        <li>Verify your identity.</li>
        <li>Provide you with access to the Service.</li>
        <li>Provide you with requested content and/or information.</li>
        <li>Respond to your inquiries.</li>
        <li>Provide service, technical or other customer support.</li>
        <li>Send important notices about changes to our terms, conditions and policies.</li>
        <li>Make it easier for you to log back into and use this Website.</li>
        <li>Contact you about our Service.</li>
        <li>Manage your account.</li>
        <li>Verify your eligibility and deliver prizes in connection with contests and sweepstakes.</li>
        <li>Help us understand who is using this Website.</li>
        <li>Enforce our Terms and Conditions.</li>
        <li>Comply with applicable laws.</li>
        <li>Identify and protect against fraudulent transactions.</li>
      </ul>

      <p class="font-weight-bold">Aggregated Information</p>

      <p>We collect, store, analyze and use Aggregated Data to help us provide you with a better user experience. For example, we collect IP addresses to aggregate demographic and other non-personal information, we keep track of the domains from which users visit this Website, we measure user activity on this Website, and analyze statistical information about our users' activity on this Website. This enables us to adjust this Website to meet the needs of our customers. When we use Aggregated Information, we do so in a way that keeps both your Customer Information and Personal Information anonymous.</p>

      <p class="font-weight-bold">User Generated Content</p>

      <p>We may, but are not obligated, to collect, store, analyze, use and disclose your User Generated Content. You hereby acknowledge and agree that Oasis may use your User Generated Content to evaluate and modify our Service. You also hereby agree that Oasis may disclose your User Generated Content and display your User Generated Content on this Website.</p>

      <p class="font-weight-bold">DISCLOSURE OF YOUR CUSTOMER INFORMATION AND PERSONAL INFORMATION</p>

      <p>Oasis is not in the business of sharing or selling your Customer Information or Personal Information. We consider this information to be a vital part of our relationship with you. However, in addition to specific requests by you, set forth below are examples of when we may share some or all of your Customer Information and/or Personal Information with third parties without further notice to you (and you hereby expressly authorize Oasis to share your Customer Information and/or Personal Information under such limited circumstances, provided we do so in a manner consistent with this Privacy Policy):</p>

      <ul>
        <li class="font-weight-bold">Affiliated Companies.</li>
        
          <p class="pt-2">We disclose information to our subsidiaries and other affiliated companies for the sole purpose of providing you with the Service.</p>
        
        <li class="font-weight-bold">Agents, Consultants and Service Providers.</li>
        
          <p class="pt-2">Oasis, like many businesses, engages third parties to perform certain business-related functions. Examples of such functions include mailing information, maintaining databases, 
          transmitting information, hosting data and storing information. When we engage a third party to perform a function of this nature, we only provide them with the information that they need to perform their 
          specific function and subject to terms of confidentiality.</p>
        
        <li class="font-weight-bold">Authorized Persons.</li>
        
          <p class="pt-2">We may disclose your Customer Information and/or Personal Information to individuals we reasonably believe are authorized by you to receive such information.</p>
        
        <li class="font-weight-bold">Business Transfers.</li>
        
          <p class="pt-2">From time to time, we may buy, sell or reorganize businesses or assets. In the event of an acquisition, sale, merger, reorganization, dissolution or similar event, Customer Information 
          and/or Personal Information may be part of the transferred assets.</p>
        
        <li class="font-weight-bold">Legal Requirements.</li>
        
          <p class="pt-2">Oasis may disclose your Customer Information and/or Personal Information if required to do so by law or in circumstances to protect the personal safety of users of this Website or the public; 
          or protect the good faith belief that such action is necessary to (i) comply with a legal obligation; (ii) enforce, protect or defend the rights or property of Oasis; (iii) act in urgent against legal liability.</p>
      </ul>

      <p class="font-weight-bold">CUSTOMER TESTIMONIALS</p>

      <p>Oasis may post customer testimonials on this Website, which may contain Customer Information or Personal Information. However, we will obtain your consent prior to posting such a testimonial from you.
      </p>

      <p class="font-weight-bold">DATA</p>

      <p class="font-weight-bold">Security</p>

      <p>The security of your Customer Information and Personal Information is important to us. When you submit information to Oasis through our Website, that information is encrypted while being transmitted using secure socket layer technology (SSL). Although we take commercially reasonable administrative, technical and physical measures to safeguard the information you provide to us, the security of information transmitted through the Internet can never be guaranteed. Oasis is not responsible for any interception of interruption of any communications through the Internet or for changes to or loss of data. Also, administrative agencies or courts of competent jurisdiction may order the disclosure of the information we collect. We cannot guarantee, and you should not expect, the information you provide to us will always remain private. Please keep this in mind when disclosing any Customer Information or Personal Information through this Website.</p>

      <p class="font-weight-bold">Inside and Outside of the United States</p>

      <p>If you are using this Website from outside the United States, please be aware that your information may be transferred to, stored, processed, used and/or disclosed in the United States where our servers are located and our central database is operated. To facilitate Oasis's global operations, Oasis may also collect, transfer and store your information outside of the United States. The data protection and other laws of the United States may not be as comprehensive as or otherwise differ from those of your country. This Privacy Policy applies regardless if Oasis transfers, stores, processes, uses and/or discloses your information inside or outside of the United States.</p>

      <p class="font-weight-bold">RECORD KEEPING</p>

      <p class="font-weight-bold">Cookies</p>

      <p>A cookie is a small text file that is stored on a computer for record-keeping purposes. We use cookies on this Website. We do not add the information we store in cookies to Personal Information you submit through this Website. We use both session ID cookies and persistent cookies. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. We use session cookies to make it easier for you to navigate this Website. We use persistent cookies to store a unique cryptographic hash value so you do not have to enter your username more than once on a given computer. You can remove persistent cookies by following the directions provided in your Internet browser's help file. You may disable cookies on your web browser, however, this may cause certain features on this Website to be disabled or not function properly.</p>

      <p class="font-weight-bold">Third Party Cookies</p>

      <p>This Website may use cookies that permit select third party partners to serve you Oasis-related content on their websites or elsewhere on the Internet. This is based on your prior visits to this Website. We do not have access or control over these cookies, and the use of cookies by third parties is not covered by this Privacy Policy.</p>

      <p class="font-weight-bold">Web Beacons</p>

      <p>Oasis uses web beacons and usage analytics software to help us identify effective content and to otherwise better manage content on this Website. Web beacons are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of web users. In contrast to cookies, which are stored on a computer hard drive, web beacons are embedded invisibly on web pages and are about the size of the period at the end of this sentence. We do not tie the information gathered by web beacons to your Personal Information.</p>

      <p class="font-weight-bold">CONTACT</p>

      <p class="font-weight-bold">Newsletter</p>

      <p>If you wish to subscribe to our newsletter, we will use your name and e-mail address to send the newsletter to you. Out of respect for your privacy, we provide you with a means to unsubscribe from our newsletter. For details on how to opt-out of receiving our newsletter, please see the Opting-Out of Future Contact section of this Privacy Policy.</p>
      <p class="font-weight-bold">Opting-Out of Future Contact</p>
      <p>You may opt-out of receiving offers and newsletters from Oasis by clicking on the unsubscribe link set forth in an email from us. Please note that opting-out of receiving future contact from Oasis may cause you to lose some or all of the benefits of using this Website and/or the Service. 
      </p>
      <p class="font-weight-bold">Blogs, Forums, Chat Rooms and Bulletin Boards</p>
      <p>If you visit or participate in a Forum on this Website, you should be aware that any Customer Information, Personal Information or User Generated Content that you submit in a Forum can be read, collected, stored and/or used by other users of such Forum, and could be used to send you unsolicited messages. We are not responsible for the Customer Information, Personal Information or User Generated Content that you choose to submit in a Forum. </p>

      <p class="font-weight-bold">CAN-SPAM ACT COMPLIANCE</p>

      <p>We are committed to being compliant with the Controlling the Assault of Non-Solicited Pornography and Marketing Act of 2003 ("CAN-SPAM Act"). All e-mails you receive from Oasis are intended to fully comply with the CAN-SPAM Act.</p>

      <p class="font-weight-bold">POLICY REGARDING CHILDREN</p>

      <p>This Website is not intended for use by children and we do not knowingly solicit or collect information from children. We also do not verify the age of any of our users. By using this Website, you represent and warrant to Oasis that you are at least 18.</p>

      <p class="font-weight-bold">CHANGES TO OUR PRIVACY POLICY</p>

      <p>We may amend this Privacy Policy at any time and in our sole discretion. You should review this Privacy Policy for amendments each time you use this Website. For your convenience, we post on this Website the last date this Privacy Policy was updated. If our Privacy Policy is amended, the amended Privacy Policy will take effect immediately for all users of this Website. Your continued use of this Website following an amendment will evidence your acceptance of the amended Privacy Policy.</p>

      <p class="font-weight-bold">SPECIAL NOTIFICATION FOR CALIFORNIA RESIDENTS</p>

      <p>Individuals who are residents of California and have provided their personally identifiable information to us may request information regarding our disclosures, if any, of their personally identifiable information to third parties for direct marketing purposes. Such requests must be submitted to our Marketing Department in writing at:</p>

      <p>Oasis Outsourcing, Inc.<br>
      Attn: Marketing Department<br>
      2054 Vista Parkway, Suite 300<br> 
      West Palm Beach, Florida 33411</p>

      <p>Such requests must include the reference Request for California Privacy Information in the subject line and in the body of the message and must include the e-mail address or mailing address, as applicable, for us to send our response. This request may be made no more than once per calendar year. We reserve the right not to respond to requests submitted to us if not submitted pursuant to the terms set forth above.</p>

      <p class="font-weight-bold">GENERAL INFORMATION</p>

      <p class="footer-padding">Capitalized terms not defined in our Privacy Policy will have the meaning ascribed to such terms in our Terms and Conditions. 
        The Terms and Conditions are hereby incorporated into and made a part of this Privacy Policy by reference.</p>
  </div>
</div>