<div class="onboarding">
  <div class="row align-items-center container-header">
    <div class="col-3 container-title">
      <div class="container-header-title">My Onboarding</div>
      <div class="container-header-description">6 out of 6 steps completed</div>
    </div>
    <div class="col-9 cta-buttons">
      <div class="float-right">
        <button type="button" class="btn btn-primary" (click)="goToSupport()">Support</button>
      </div>
    </div>
  </div>

  <div class="my-onboarding-completed">
    <div class="row  align-items-center">
      <div class="col-8 onboarding-completed-custom-margins">
          <img class="custom-image" src="/assets/images/getting-started/confirm.svg" alt="" width="50">
          <div class="row">      
            <div class="col-9">
                <span class="onboarding-completed-title">{{confirmation.title}}</span>
                <p class="onboarding-completed-text">{{confirmation.message}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="case-details">
                <div class="case-title">Your case number:</div>
                <div class="case-number">123456Z4JUL32</div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>