@import "~sass/variables";

.reports-w2-address-change {
    padding: 29px 30px 60px 30px; 

    .report-title{
        margin-bottom: 22px !important;
    }

    .custom-margin-bottom-dropdown {
        margin-bottom: 16px;
        margin-top: 10px;
    }

    .custom-dropdown {
        width: 113px !important;
        margin-right: 0;
    }

}