<div class="card call-out-card {{isDashboard ? 'card-for-dashbaord' : '' }}">
	<div class="card-header-calander row">
		<div *ngIf="!isDashboard" class="col-xl-5 col-lg-12  card-cal-title display-3 d-inline-block"><span>Payroll Calendar</span></div>
		<div *ngIf="isDashboard" class="col-xl-5 col-lg-12  card-cal-title-2 display-3 d-inline-block">
			<span>{{payrollCalendarDO.monthLabel}}</span>
		</div>
		<div *ngIf="!isDashboard" class="col-xl-7 col-lg-12">
			<button type="button" class="btn button-sm-square" (click)="openPayrollCalendarListModal('xl', payrollCalendarListModal)"><span class="icon icon-note" [ngbTooltip]="'Payroll Calendar'"></span></button>	
			<div class="title d-inline-block">{{payrollCalendarDO.monthLabel}}</div>
		</div>			 
	</div>
	<div class="card-body text-center">   	
		<div class="d-flex padding-space">
			<div class="col-wk-title" *ngFor="let dayName of payrollCalendarDO.daysHeader;">
		    	<span>{{dayName}}</span>
		    </div>
		</div>     
		<div class="d-flex padding-space" *ngFor="let daysOfWeek of payrollCalendarDO.days;">
			<div class="col-wk-number {{item.isToday ? 'todays-date' : ''}} {{item.isDueDate ? 'due-date' : ''}} {{item.isCheckDate ? 'check-date' : ''}}" *ngFor="let item of daysOfWeek;" [ngbTooltip]="item.isDueDate ? dueDateContent : (item.isCheckDate ? checkDateContent : (item.isToday ? todayContent : '') ) ">
				<span>{{item.day}}</span>
				<span *ngIf="item.isDueDate" class="icon icon-dot icon-custom-dot"></span>
			</div> 
		</div>      
	</div>
</div> 
<ng-template #dueDateContent>Payroll Due</ng-template>
<ng-template #checkDateContent>Check Date</ng-template>
<ng-template #todayContent>Today</ng-template>

<ng-template #payrollCalendarListModal let-c="close" let-d="dismiss">
<div class="custom-modal-window payrollCalendarListModal">
  <div class="modal-header">
    <h4 class="modal-title align-self-center float-left">Pay Period Schedule</h4>
    <button type="button" class="close align-self-center float-right" aria-label="Close" (click)="d('Cross click');">
      <span class="icon icon-close"></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="custom-grid">
      <div class="row">
        <div class="col-lg-12">
          <div class="custom-grid-header ">
            <button class="btn btn-link btn-link-icon float-right" type="button" (click)="printPDF();">
                <span class="icon icon-pint" ></span>
                <span>PRINT</span>
            </button>
          </div>
          <br />
          <dx-data-grid #skillCodeAssignmentDataGrid [dataSource]="payrollCalanderDataFromServer" [columnAutoWidth]="true">
			<dxo-paging [enabled]="false"></dxo-paging>
			<dxi-column dataField="payDate" [allowSorting]="false" dataType="date"></dxi-column>               
			<dxi-column dataField="payDay"  [allowSorting]="false"></dxi-column>      
			<dxi-column dataField="perStart" caption="Period Start" [allowSorting]="false" dataType="date"></dxi-column>
			<dxi-column dataField="perEnd" caption="Period End" [allowSorting]="false" dataType="date"></dxi-column>
			<dxi-column dataField="per" caption="Month Period" [allowSorting]="false"></dxi-column>
			<dxi-column dataField="dueOn" [allowSorting]="false" dataType="date"></dxi-column>
			<dxi-column dataField="callIn" [allowSorting]="false" dataType="date"></dxi-column>
			<dxi-column dataField="deliverOn" [allowSorting]="false" dataType="date" alignment="right"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
</ng-template>