.employee-reports-unemployement-wages {
    .section{
        .section-title{
            margin-top: 23px;
            margin-bottom: 25px;
        }

        .form-group{
            margin-bottom: 3px;
        }
    
        .report-title{
            margin-bottom: 16px !important;
            margin-top: 17px !important;
        }
    
        .custom-margin-bottom-dropdown {
            margin-bottom: 12px;
            margin-top: 10px;
        }
    
        .custom-grid-padding {
            margin-top: 4px;
        }

        .custom-date-picker {
            margin-right: 15px;
        }
        
        .custom-dropdown-component {
            margin-right: 20px !important;
            width: 220px !important;
        }

        .form-control-dropdown {
            width: 220px !important;
        }

        .custom-dropdown-dedcodes {
            width: 220px !important;
        }
    }
}