.container-section {
    padding-left: 0%;
    padding-right: 0%;
}

.reports-container {
    padding-top: 19px;
}

.content-title {
    font-weight: 500;
    margin-bottom: 0;
}

.pdng-top-20 {
    padding-top: 20px;
}