<ul class="nav custom-nav d-flex nav-fill">
  <li class="nav-item flex-fill" routerLinkActive="active">
    <a routerLink="./../hours-earnings">
      <span appClickStopPropagation>1. Hours & Earnings</span>
    </a>
  </li>
  <li class="nav-item flex-fill" routerLinkActive="active">
    <a routerLink="./../deductions" appClickStopPropagation>2. Deductions</a>
  </li>
  <li class="nav-item flex-fill" routerLinkActive="active">
    <a routerLink="./../review-submit">3. Review & Submit</a>
  </li>
  <li class="nav-item flex-fill" routerLinkActive="active">
    <a routerLink="./../confirmation">4. Confirmation</a>
  </li>
</ul>
