@import '~sass/variables';

:host ::ng-deep {
    .btn.btn-primary.dx-state-focused {
        border-color: $blue;
        background-color: $blue;
    }
}

:host ::ng-deep {
    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit {
        padding-left:10px
    }
}