<div class="reports-container reports-employee-payroll-pay-stubs">
  <div class="section">
    <!-- <div class="row breadcrumb-container-reports">
      <div class="col-12">
        <div class="breadcrumb-component">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item back-link">
                <a (click)="goToBack()">Reports</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span class="breadcrumb-item-active">Pay Stubs</span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-7 report-title align-self-center">
        <span>Pay Stubs</span>
      </div>
      <div class="col-5 align-self-center">                   
        <button type="button" class="btn btn-outline-primary float-right" (click)="goToBack()">BACK</button>
      </div>
    </div>
  </div>
</div>