<div class="emp-information-t-component">
  <form [formGroup]="formGroup" autocomplete="off">
    <div class="row">
      <div class="col-8">
        <div class="row checkbox-row2">
          <div class="form-group col-9 d-inline-block p-0">
            <label class="vertical-sub mb-0">Do you have employees that work outside of the provided physical worksite location(s)?</label>
          </div>
          <div class="form-group col-3 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="outsideWorksiteCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('outsideWorksiteCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="outsideWorksiteCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('outsideWorksiteCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="workOutsidePhyLocGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="workOutsidePhyLocYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('workOutsidePhyLocYes', 'workOutsidePhyLocGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="workOutsidePhyLocNo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('workOutsidePhyLocNo', 'workOutsidePhyLocGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
        <div class="row checkbox-row2">
          <div class="form-group col-8 d-inline-block p-0">
            <label class="vertical-sub mb-0">Do the employees work from home?</label>
          </div>
          <div class="form-group col-4 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="workFromHomeCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('workFromHomeCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="workFromHomeCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('workFromHomeCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="workFromHomeGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="workFromHomeYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('workFromHomeYes', 'workFromHomeGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="workFromHomeNo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('workFromHomeNo', 'workFromHomeGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
        <div class="row checkbox-row2">
          <div class="form-group col-8 d-inline-block p-0">
            <label class="vertical-sub mb-0">Do you have employees whose work state is different than their resident state?</label>
          </div>
          <div class="form-group col-4 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="differentStateCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('differentStateCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="differentStateCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('differentStateCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="workStateNotResidentGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="workStateNotResidentYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('workStateNotResidentYes', 'workStateNotResidentGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="workStateNotResidentNo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('workStateNotResidentNo', 'workStateNotResidentGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
        <div class="row">
          <div class=" col-12">
            <div class="provide-details">Please provide details
              <textarea class="form-control" id="exampleTextarea" rows="3" [disabled]="workStateNotResidentName !== 'workStateNotResidentYes'"></textarea>
              <div *ngIf="workStateNotResidentName === 'workStateNotResidentYes'">
              <label class="requiredField">This is a required field</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="taxes-disclamer">
              <span class="taxes-paragraph-bold">Taxing Authority</span> - Taxes are based on where employees live and physically work; some states may have reciprocal agreements or honor nonresident certificates
            </div>
          </div>         
        </div>
        <div class="row">
          <div class="col-12 employee-tax-title-margin">
              <h3 class="display-3 employees-notactive">Employees Not Actively at Work</h3>
          </div>
        </div> 
        <div class="row checkbox-row3">
          <div class="form-group col-8 d-inline-block p-0">
            <label class="vertical-sub mb-0">Are you a covered employer under FMLA (50 or more employees within 75 mile radius)?</label>
          </div>
          <div class="form-group col-4 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="underFmlaCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('underFmlaCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="underFmlaCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('underFmlaCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="coveredEmplrFLMAGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="coveredEmplrFLMAYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('coveredEmplrFLMAYes', 'coveredEmplrFLMAGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="coveredEmplrFLMANo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('coveredEmplrFLMANo', 'coveredEmplrFLMAGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>

        <div class="row checkbox-row4">
          <div class="form-group col-8 d-inline-block p-0">
            <label class="vertical-sub mb-0">Do you want to offer FMLA?</label>
          </div>
          <div class="form-group col-4 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="offerFmlaCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('offerFmlaCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="offerFmlaCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('offerFmlaCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="wantOfferFLMAGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="wantOfferFLMAYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('wantOfferFLMAYes', 'wantOfferFLMAGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="wantOfferFLMANo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('wantOfferFLMANo', 'wantOfferFLMAGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>

        <div class="row checkbox-row5">
          <div class="form-group col-9 d-inline-block p-0">
            <label class="vertical-sub mb-0">Are there any termed or inactive employees that will need to be paid in the first payroll run?</label>
          </div>
          <div class="form-group col-3 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="firstPayrollCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('firstPayrollCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="firstPayrollCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('firstPayrollCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="firstPayrollGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="firstPayrollYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('firstPayrollYes', 'firstPayrollGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="firstPayrollNo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('firstPayrollNo', 'firstPayrollGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 employee-tax-title-margin2">
              <h3 class="display-3 employees-wage">Provide Leave Types and Employee Names</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="custom-grid-header">
          <dx-data-grid #dxDataGrid [dataSource]="leaveTypes"
            [columnAutoWidth]="true"
            class="payroll-batch-grid row-edited-data-grid"
            keyExpr="ID">
            
              <dxo-paging [enabled]="false"></dxo-paging>

              <dxo-editing mode="batch" [allowUpdating]="true">
              </dxo-editing>

              <dxi-column dataField="Type" alignment="left"
                  [allowSorting]="false" [showEditorAlways]="true" >
              </dxi-column>    

              <dxi-column dataField="FirstName" alignment="left"
                  [allowSorting]="false" [showEditorAlways]="true">
              </dxi-column>

              <dxi-column dataField="LastName" alignment="left"
                  [allowSorting]="false" [showEditorAlways]="true">
              </dxi-column>

              <dxi-column dataField="MiddleName" alignment="left"
                  [allowSorting]="false" [showEditorAlways]="true">
              </dxi-column>

              <dxi-column cellTemplate="editTemplate" alignment="left" [width]="60" [minWidth]="60">
                <div *dxTemplate="let data of 'editTemplate'">
                    <div class="dx-custom-command-edit">
                        <a *ngIf="data.data.inserting" class="dx-link dx-link-edit" tabindex="0" (click)="onAddRow(data)" (keydown)="onAddKeyDown($event, data)">ADD</a>
                        <a *ngIf="!data.data.inserting" class="dx-link dx-link-delete" tabindex="0"  (click)="onDeleteRow(data)" (keydown)="onDeleteKeyDown($event, data)">REMOVE</a>
                    </div>
                </div>
            </dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <div class="taxes-disclamer">
              Employees must complete an Oasis employee packet, or on board electronically (if applicable) to be entered into the Oasis system
              <button type="button" class="btn btn-link pl-0" (click)="openPdf()">
                <span class="btn-link-text">Link</span>
              </button>
            </div>
          </div>         
        </div>
        <div class="row">
          <div class="col-12 mt-4">
              <h3 class="display-3 employees-wage">Wage Garnishments</h3>
          </div>
        </div>
        <div class="row checkbox-row6">
          <div class="form-group col-9 d-inline-block p-0">
            <label class="vertical-sub mb-0">Do you have employees with any court ordered deductions (child support, IRS levies, student loans, etc.)?</label>
          </div>
          <div class="form-group col-3 checkbox-section p-0">
              <!-- <dx-check-box [(ngModel)]="courtOrderCheckboxGroup.yes" text="Yes" (onOptionChanged)="onGroupedCheckBoxChanged('courtOrderCheckboxGroup', 'yes', $event)"></dx-check-box>
              <dx-check-box [(ngModel)]="courtOrderCheckboxGroup.no" text="No" (onOptionChanged)="onGroupedCheckBoxChanged('courtOrderCheckboxGroup', 'no', $event)"></dx-check-box> -->
              <div formGroupName="courtOrderGroup" class="form-checkbox-width">
                <dx-check-box 
                  formControlName="courtOrderYes" 
                  text="Yes" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('courtOrderYes', 'courtOrderGroup', $event)"></dx-check-box>
                
                <dx-check-box 
                  class="mr-0"
                  formControlName="courtOrderNo" 
                  text="No" 
                  (onOptionChanged)="onGroupedCheckBoxChanged('courtOrderNo', 'courtOrderGroup', $event)"></dx-check-box>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="taxes-disclamer upload-disclaimer">
              Please upload a copy of your current court orders prior to completion
              <div class="d-inline align-self-center">
                <button class="btn btn-primary float-right" (click)="openUploadModal('lg', uploadModal)" [disabled]="courtOrderName === '' || courtOrderName === 'courtOrderNo'">Upload</button>
              </div>
            </div>         
           <ng-template #uploadModal let-c="close" let-d="dismiss">
            <app-upload [modalCloseFunc]="this.c" [modalDismissFunc]="this.d" [isTypeModal]="true"></app-upload>
           </ng-template>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="horizontal-separator"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>