@import '~sass/variables';

.container-content {
	margin: 10px -15px 0 -15px;
}
.hr-card{overflow:visible;}
:host ::ng-deep {
	.custom-hr-card {
		margin-bottom: 30px;
		min-width: 320px;
		
	}

	.custom-dropdown-component {
		max-width: 350px;
	}
	
}