.card.benefits-card .card-body .benefits-features-items.features-with-borders .media.xl-padding {
    height: 40px;
    line-height: 40px;
}

 .custom-features-bullet-icon-2 {
   
    margin-top: -6px;
}