<div>
    <app-employee-reports-personal-ee-info allTabSelected="false"></app-employee-reports-personal-ee-info>
</div>

<div>
  <app-employee-reports-personal-employment-info allTabSelected="false"></app-employee-reports-personal-employment-info>
</div>

<div>
  <app-employee-reports-personal-address allTabSelected="false"></app-employee-reports-personal-address>
</div>

<div>
  <app-employee-reports-personal-compensation allTabSelected="false"></app-employee-reports-personal-compensation>
</div>

<div>
  <app-employee-reports-personal-tax allTabSelected="false"></app-employee-reports-personal-tax>
</div>

<div>
  <app-employee-reports-personal-other allTabSelected="false"></app-employee-reports-personal-other>  
</div>

