.workers-all-claims-container {
	margin: 20px 0 0;
    padding: 20px 15px 25px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 16px 0 rgba(32, 44, 86, 0.04);
    box-shadow: 0 6px 16px 0 rgba(32, 44, 86, 0.04);
    min-height: 100px;

    .text-details-green {
		color: #33bf96;
	}

}

