@import '~sass/variables';

.employee-details-employment {    
    .dx-item-content .dx-item {
        padding-left: 0px;
    }

    .dx-texteditor.dx-state-readonly{
        .dx-texteditor-container .dx-texteditor-input{
            cursor: pointer;
        }
    }

    .dx-texteditor .dx-texteditor-input {
        color: $gray-600;
    }

    .dx-texteditor.dx-state-focused{
        box-shadow: none;
    }

    .dx-field-item-label .dx-field-item-label-text{
        font-weight: 400;
    }

    .dx-form-group-with-caption .dx-form-group-content {
        margin-top: 0px !important;
        padding-top: 15px !important;
    }
    
    hr {
        margin: 10px 0px 9px 0px;
    }
}

