<div class="main-area-container dashboard-next-steps">
  <div class="dashboard-next-steps-header">
    <h3>My next steps</h3>
  </div>
  <div class="dashboard-next-steps-body">
    <ul class="list-steps">
      <li class="list-step-item">
        <a href="#" class="step-link">Open enrollment starts on June 1 st.</a>
      </li>
      <li class="list-step-item">
        <a href="#" class="step-link">Open enrollment starts on June 1 st.</a>
      </li>
      <li class="list-step-item">
        <a href="#" class="step-link">Open enrollment starts on June 1 st.</a>
      </li>                    
    </ul>
  </div>
  <div class="dashboard-next-steps-footer">
      <a href="/next-steps">See all next steps <span class="icon icon-arrow"></span></a>
  </div>
</div>