<div class="custom-modal-window workers-comp-download">
    <div class="modal-header">
        <h4 class="modal-title align-self-center float-left">{{ title }}</h4>
        <button type="button" class="close align-self-center float-right" aria-label="Close" (click)="modalCloseFunc('Cross click')">
      <span class="icon icon-close"></span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row state-poster-wrapper">
            <div class="col-6 my-auto">
                <span class="stateName">{{formsCollection.state.Name}}</span>
            </div>
            <div class="col-6 my-auto">
                <button type="button" class="btn btn-primary align-middle btnDownloadPoster" (click)="download(this.selectedState.StateCompliancePoster)">{{ downloadText }}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="otherFormsLabel">Download Other Forms</div>
                <dx-scroll-view #scrollView [showScrollbar]="onHover" [scrollByContent]="true" [scrollByThumb]="true" [height]="150">
                    <ul class="list-actions">
                        <li *ngFor="let item of formsCollection.forms" class="list-action-item" (click)="download(item)">
                            <i class="icon icon-single-content align-middle color-blue" aria-hidden="true"></i>
                            <a class="item-value align-middle">
                {{item.Text}}
              </a>
                            <div class="float-right align-middle mr-right-10">
                                <div class="align-middle">
                                    <i class="icon icon-square-upload align-middle" aria-hidden="true"></i>
                                </div>
                            </div>

                            <hr />
                        </li>
                    </ul>
                </dx-scroll-view>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalCloseFunc('Cross click')">Close</button>
    </div>
</div>