@import '~sass/variables';

.emp-information-s-component {
    margin-left: 48px;
    margin-top: 54px;
    max-width: 1240px;
  
    .dx-checkbox {
      margin-right: 9px;
    }

    .checkbox-row{
      margin: 1px 0 -13px 0;
      align-self: center;

      .checkbox-section{
        align-self: center;
      }
    }

    .checkbox-row2{
      margin: 7px 0 -7px 0;
      align-self: center;

      .checkbox-section{
        align-self: center;
      }
    }



    .form-checkbox-width {
      width: fit-content;
      float: right;
    }
  
    label.vertical-sub {
      vertical-align: sub;
    }
  
    .taxes-paragraph{
      
      border-radius: 5px;
      background-color: #f0f2f5;
      padding: 25px 30px;
      margin-bottom: 0px;
      line-height: 36px;
    }
  
    .horizontal-separator {
      height: 1px;
      background-color: $gray-300;
      margin: 20px 0;
    }
  
    .input-field-margin{
      margin-bottom: 9px;
    }
  
    .mt--9 {
      margin-top: -9px;
    }
  
    .mb-19{
      margin-bottom: 19px;
    }
  
    .mb-6{
      margin-bottom: 6px;
    }
  
    .mt-0 {
      margin-top: 0px;
    }
  
    .payment-method {
      font-weight: 500;
      line-height: 1.29;
      top: -10px;    
    }
  
    .dx-radiogroup .dx-radiobutton .dx-item-content {
      position: relative;
      top: -10px;    
      font-weight: 500;
      line-height: 1.29;
      margin-bottom: 20px;
    }
  
    .worksite-location {
      margin-bottom: 24px;
    }

    .form-filed-duns {
        display: -webkit-inline-box;
        width: 240px !important; 
        height: 36px !important; 
        border-radius: 5px;
    }
  }