.employee-reports-deduction-code-summary {
    .section{
        .section-title{
            margin-top: 23px;
            margin-bottom: 25px;
        }
    
        .report-title{
            margin-bottom: 16px !important;
            margin-top: 17px !important;
        }
        
        .date-range-row {
          padding-top: 3px !important;
          margin-bottom: 0px !important;
          padding-right: 0px !important;
        }

        .grid-range-row {
            padding-top: 22px !important;
        }

        .custom-dropdown {
            width: 85px !important;
        }

        .custom-date-picker {
            margin-right: 15px;
        }

        .custom-padding {
            padding: 3px 0 3px 0;
        }

        .custom-dropdown-component {
            margin-right: 20px !important;
            width: 220px !important;
        }

        .form-control-dropdown {
            width: 220px !important;
        }

        .custom-dropdown-dedcodes {
            width: 220px !important;
        }
    }
}