@import '~sass/variables';

:host ::ng-deep {
    .messages-component {
        .alert {

            font-weight: 500;

            .alert-link {
                margin-left: 5px;
                text-decoration: underline;
            }
    
            .close {
                color: $white;   
            }
        }
    }
}

