<div class="card benefits-card hr-card" [ngClass]="{'hr-card-available': available === 'true'}">
  	<div class="card-body">
	    <h3 class="benefits-card-title title-max-height">{{hrComplianceCardData.title}}</h3>
	     	<div class="benefits-features-items features-max-height hr-compliance-body">
          	<ul class="hr-compliance-list-news">
            	<li class="hr-compliance-list-news-item" *ngFor="let item of hrComplianceDataSource | slice:0:4">
                <a class="hr-compliance-news-title" href="javascript: void(0)">
                    {{item.title}}
                </a>
	              <a class="hr-compliance-news-link">{{item.body}}</a>	
            	</li>
          	</ul>
        </div>
	  	<div class="row footer-fixed-position">
	    	<div class="col">
	      		<button type="button" class="btn btn-primary btn-primary-benefits-card-footer" (click)="open(content)">See All</button>
	      		<span class="mr-2"></span>
	    	</div>
	  	</div>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="news-modal hr-compliance-modal">
      <div class="modal-header news-modal-header">
          <h4 class="modal-title align-self-center">HR Complaince</h4>
          <button type="button" class="close align-self-center" aria-label="Close" (click)="d('Cross click')">
              <span class="icon icon-close"></span>
          </button>
      </div>
      <div class="modal-body news-modal-body" id="news-scrollbar">
          <div class="news-item" *ngFor="let data of newsModalData;let i = index">
              <div class="item-header">{{ data.title }}</div>
              <div class="item-body readLess" [ngClass]="{ 'readMore' : (i === activeIndex && toggle === 1), 'readLess': (i === activeIndex && toggle === 0) }">{{ data.body }}</div>
              <div class="item-footer">
                  <a href="javascript: void(0)"  *ngIf="i != activeIndex || toggle === 0" (click)="clicked(i,1)">READ MORE 
                      <i class="icon icon-shape"></i>
                  </a>
                  <a class="readLessIcon" href="javascript: void(0)"  *ngIf="i === activeIndex && toggle === 1" (click)="clicked(i,0)">READ LESS 
                      <!-- <p class="rotate-180"><i class="icon icon-shape"></i></p> -->
                      <i class="icon icon-shape-reverse"></i>
                  </a>
              </div>
              <hr>
          </div>
      </div>
  </div>
</ng-template>