<div class="employee-reports-container employee-reports-personal-information">
  <div class="section">
    <div class="pt-3 mb-0">
      <div class="col-12" *ngIf="isLoading">
        <app-oasis-loader [isLoading]="isLoading"></app-oasis-loader>
      </div>
      <div class="row col-12 p-0 m-0" *ngIf="!isLoading">
        <h3 class="col-9 align-self-center pl-0 m-0 font-weight-bold" [ngStyle]="{'height': (allTabSelected)? '30px': 'initial'}">Compensation</h3>
        <div class="col-3 align-self-center pr-0" *ngIf="!allTabSelected">
          <div class="float-right">
            <button 
              type="button" 
              class="btn btn-link btn-link-icon p-0 mr-2"
              (click)="requestedFunction('print')">
            <span class="icon icon-pint"></span>
            <span>PRINT</span>
            </button>
            <div ngbDropdown class="d-inline-block custom-dropdown" placement="bottom-right">
              <button 
                class="btn btn-light" 
                id="downloadDD" 
                ngbDropdownToggle>
                  <span>
                    Download
                    <i class="icon icon-shape"></i>
                  </span>
              </button>
              <div ngbDropdownMenu aria-labelledby="Download">
                <button 
                  type="button" 
                  class="dropdown-item" 
                  *ngFor="let item of dropdownOptions[0].items" 
                  (click)="selectedDownloadOption(item); downloadDD.close()">
                  {{item.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!isLoading">
        <div class="col-8">
          <div class="row employee-information-first-row" *ngFor="let ddItem of filteredEmployeeReportsPersonalCompensationReport[0].employeeCompensation">
            <div class="col-4 pl-0 custom-margin-bottom">
              <div class="form-group">
                <label>Current Pay Rate</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.payRate">
              </div>
            </div>
            <div class="col-4 employee-information-field-padding custom-margin-bottom">
              <div class="form-group">
                <label>Pay Period</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.payPeriod">
              </div>
            </div>
            <div class="col-4 pr-0 custom-margin-bottom">
              <div class="form-group">
                <label>Current Annualized Pay</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.annualizedPay">
              </div>
            </div>

            <div class="col-4 pl-0 custom-margin-bottom">
              <div class="form-group">
                <label>Standard Hours</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.hours">
              </div>
            </div>

            <div class="col-4 employee-information-field-padding custom-margin-bottom">
              <div class="form-group">
                <label>Auto Accept T/S</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.autoAccept">
              </div>
            </div>
            <div class="col-4 pr-0 custom-margin-bottom">
              <div class="form-group">
                <label>Default T/S Hours</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [ngModel]="ddItem.defaultTSHours">
              </div>
            </div>

            <div class="col-4 pl-0 custom-margin-bottom">
              <div class="form-group">
                <label>Daily Timesheets</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.dailyTimesheets">
              </div>
            </div>
          </div>

      <hr/>

      <!-- Section -2 -- Work History -->
      <div class="row col-12 section-title2 p-0 m-0">
        <h3 class="align-self-center pl-0 m-0 font-weight-bold">Work History</h3>
      </div>
      <div class="row employee-information-row" *ngFor="let ddItem of filteredEmployeeReportsPersonalCompensationReport[0].employeeCompensation">
        <div class="col-12 p-0" >
          <div class="row employee-information-first-row pl-0">
            
            <div class="col-4 pl-0 custom-margin-bottom">
              <div class="form-group">
                <label>Last Hire Date</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.lastHireDate">
              </div>
            </div>
            <div class="col-4 employee-information-field-padding custom-margin-bottom">
              <div class="form-group">
                <label>Orig Hire Date</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [ngModel]="ddItem.origHireDate">
              </div>
            </div>
            <div class="col-4 pr-0 custom-margin-bottom">
              <div class="form-group">
                <label>Seniority Date</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.seniorityDate">
              </div>
            </div>

            <div class="col-4 pl-0 custom-margin-bottom">
              <div class="form-group">
                <label>PEO Start Date</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.peoStartDate">
              </div>
            </div>
            <div class="col-4 employee-information-field-padding custom-margin-bottom">
              <div class="form-group">
                <label>Last Performance Review</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [ngModel]="ddItem.lastReview">
              </div>
            </div>
            <div class="col-4 pr-0 custom-margin-bottom">
              <div class="form-group">
                <label>Leave Return Date</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.leaveReturnDate">
              </div>
            </div>

            <div class="col-4 pl-0 custom-margin-bottom">
              <div class="form-group">
                <label>Reason Terminated</label>
                <input 
                  disabled="true"
                  class="form-control truncate-text"
                  [(ngModel)]="ddItem.reasonTerm">
              </div>
            </div>
          </div>
          <hr class="hr-custom" *ngIf="allTabSelected"/>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
