@import '~sass/variables';

.employee-reports-pay-history{
    .section{
        .section-title{
            margin-top: 23px;
            margin-bottom: 25px;
        }
    
        .report-title{
                margin-bottom: 16px !important;
                margin-top: 17px !important;
            }
        
        .date-range-row {
          padding-top: 3px !important;
          margin-bottom: 0px !important;
        }

        .grid-range-row {
            padding-top: 22px !important;
        }

        .custom-dropdown {
            width:100px !important;
        }
    }
}