@import '~sass/variables';

.reports-employee-benefits-register{
    .section{
        .section-title{
            margin-top: 23px;
            margin-bottom: 25px;
        }
    
        .report-title{
          margin-bottom: 9px;
        }
        
        .date-range-row {
          padding-top: 0;
        }
    }
}