@import '~sass/variables';

.dashboard-card {
    .ex-margin-top {
        margin-top: 25px;
        padding: 0 15px;
    }

    .ex-margin-bottom {
        margin-bottom: 25px;
    }

    .no-border {
        border-bottom: 1px solid transparent;
        margin-left: -5px;
        .nav-item .nav-link {
            padding: 9px 5px 0px;
            .benefits-card-title {
                line-height: 18px;
                height: 18px;
            }
        }
    }

    .employee-list-sort-dropdown {
        min-width: 157px;
    }

    .dropdown .btn .icon-shape {
        margin-left: 5px;
    }

    .chart-abs-position {
        position: absolute; 
        bottom: 73px;
        left: 0;
    }

    .field-display-section {
        padding: 0 30px 0 0;
        min-width: 50%;
        max-width: 50%;
        height: 44px;
        line-height: 44px;

        &:nth-child(2n) {
            padding-right: 0 !important;
        }
        .custom-border-bottom {
            border-bottom: 1px solid $gray-300;
            height: 100%;
            .title {
                font-size: 14px;
                font-weight: 500;
                text-align: left;
                color: $gray-700;
            }
            .value {
                font-size: 20px;
                font-weight: 500;
                text-align: right;
                color: $gray-800; 
            }
        }
    }
}