@import "~sass/variables";

.reports-container{
    min-height: 500px;
}

.reports-accounting-download {

    padding: 30px 30px 60px 30px; 
    
    /deep/ .dx-datagrid .dx-row.dx-header-row > td:last-child {
        margin-right: 10px;
    }

    /deep/ .custom-grid .dx-datagrid .dx-row > td:last-child {
        margin-right: 10px;

    }

   /deep/ .dx-row.dx-data-row.dx-column-lines td:last-child  {
        padding-right: 15px;
    }

    /deep/ .custom-grid .dx-datagrid .dx-row > td:last-child {
        padding-right: 15px;
    }

   /deep/ .custom-dropdown-component .dropdown-menu {
       width: auto;
   }

   /deep/ .dx-datagrid-rowsview .dx-row.dx-group-row {
       display: none;
   }
 
   [class*="col-"] {

        &:first-child {
            padding-left: 15px !important;
        }
        padding-left: 5px !important;
    }

    .custom-dropdown-component {
        width: inherit !important;

        .form-control-dropdown {
            width: inherit !important;
        }
        .btn-form-control span {
            display: initial;
        }
    }

    .section-title {
        margin: 10px 0 12px 0;
    }

    .custom-left-margin-col {
        padding-left: 15px !important;
    }

    .select-year-batch-row {
        margin-bottom: 14px;
    }

    
    .report-title{
        margin-bottom: 19px !important;
    }

    .date-range-row {
        margin-bottom: 4px;
    }

    .back-button{
        float: right;
        align-self: center;
        margin-right: 15px;
    }

    .truncate-dropdown-text {
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .custom-dropdown-locdep {
        max-height: 200px;
        overflow-y: scroll;
    }

    .custom-dropdown {
        width: 100px !important;
    }
    
    .view-report-button {
        margin-top: 27px;
    }

}