@import '~sass/variables';
.text-right {
    text-align: right;
}

.gray-background {
    background-color: #eaedf0;
    padding-right: 20px;
    padding-top: 10px;
    height: 50px;
}

.col-250-px {
    width: 250px;
}

.col-40-px {
    width: 40px;
}